.header{
    position: fixed;
    top: 0;
    width: 375px;
    height: 60px; /* 헤더 높이 조정 */
    background-color: 	black; /* 원하는 색상 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* 크기에 border와 padding을 포함 */
    z-index: 1000; /* 다른 요소들보다 위에 오도록 */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header_title_box{
    width: 335px;
    display: flex;
    justify-content: space-between;
}

.header_title{
    height: 40px;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    display: flex;
    align-items: center;
    color: white;
}

.header_option{
    width: 75px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
}

.material-icons{
    font-size: 26px;
    border: none; 
    background: transparent;
    cursor: pointer;
    padding: 0;
}

.header_tab{
    width: 255px;
    display: flex;
    justify-content: flex-start;
}

.header_input{
    height: 22px;
    width: 150px;
    padding: 2px 10px;
    font-size: 14px;
    background-color: #f1f3f5;
    border: 1px solid #f1f3f5;
    border-radius: 5px;
}

// .first_tab,
// .second_tab{
//     height: 60px;
//     width: 90px;
//     padding: 0px;
//     font-size: 20px;
//     border: none;
//     background: transparent;
//     cursor: pointer;
//     color: lightgray;
//     border-bottom: 2px solid lightgray;

//     &.active{
//         color: black;
//         border-bottom-color: black;
//     }

//     &:not(.active):hover { // 비활성화된 상태에서의 hover 스타일
//         color: darkgray;
//         border-bottom-color: darkgray;
//       }
// }
