$padding: 1rem;
$small-font: 0.75rem;
$base-font: 1rem;
$primary-color: #007bff;
$border-radius: 0.5rem;
$border-color: #ccc;
$text-color-light: #999;

// Mixin for flex alignment
@mixin flex-center {
    display: flex;
    align-items: center;
  } 
  

  .alarm-page {
    padding: 1rem;
    height: 100%;
    position: relative;
    margin-top: 4rem;
    padding-bottom: 4rem;
    .alarm-list {  
      overflow-y: auto;
    }
  

  }
  
  .alarm-box {
    display: flex;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 0.0625rem solid #ddd;
    border-radius: 0.5rem;
    background-color: #fff;
    width: 20rem;
    height: 4rem;

  
    .members {
      display: flex;
      margin-right: 1rem;
  
      img {
        
        border-radius: 50%;
        margin-right: -0.75rem; // Images overlap
        border: 0.125rem solid #fff;
      }
    }
  
    .alarm-details {
      display: flex;

      flex: 1;
      padding-left: 10px;
  
      .alarm-title {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        margin-bottom: 0.25rem;
  
        .alarm {
          font-size: 1;
          color: #999;
        }
      }
  
      .description {
        display: flex;
        font-size: 1.25rem;
        color: #666;
        align-items: center;
      }
    }
  }
  .empty-alarm {
    display: flex;
    flex-direction: column; /* 이미지와 텍스트를 수직으로 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
    height: 60vh; /* 부모 컨테이너의 높이를 기준으로 중앙에 위치 */
    text-align: center; /* 텍스트 중앙 정렬 */
    color: #666; /* 텍스트 색상 (필요 시 조정) */
  }
  