.whole-section {
    width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh; // 브라우저 창의 높이를 기준으로 최소 높이 설정
}

.content {
    width: 375px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // overflow: hidden;
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.1),  /* 오른쪽 그림자 */
                -4px 0 6px rgba(0, 0, 0, 0.1);  /* 왼쪽 그림자 */
}
.mypage-frame{
    flex: 1;
    margin-top: 80px; /* 헤더 높이만큼 아래에 여백 추가 */
    margin-bottom: 80px; /* 푸터 높이만큼 아래에 여백 추가 */
    overflow-y: auto; /* 스크롤 가능하도록 설정 */
    background-color: #f5f5f5; /* 원하는 배경색 */
    width: 375px;
    box-sizing: border-box;
    // height: auto; /* 고정 높이를 없애거나 auto로 설정 */
}

// 마이페이지 부모
.mypage-header {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user-image-section {
    background-color: rgb(122, 81, 209);
    width: 10ch;
    height: 12ch;
}

// 닉네임, 프로필편집, 자기소개, 팔로우 팔로잉 등등 //
.user-information-frame {
    display: inline;
    text-align: center;
}
.user-information {
    background-color: rgb(235, 167, 9);
    width: 20vh;
    height: 6ch;
}
.user-nickname {
    background-color: rgb(122, 81, 209);
    width: 9ch;
    height: 5ch;
    display: inline-block;
    margin-right: 1ch;

}
.profile-edit {
    background-color: rgb(224, 224, 224);
    width: 9ch;
    height: 5ch;
    display: inline-block;
    margin-right: 1ch;

}
.system-setting {
    background-color: rgb(224, 224, 224);
    width: 5ch;
    height: 5ch;
    display: inline-block;
    margin-right: 1ch;
}


.user-follower-cnt {
    background-color: rgb(254, 238, 11);
    width: 20vh;
    height: 5ch;
}

.follower-cnt{
    background-color: rgb(122, 81, 209);
    width: 9ch;
    height: 5ch;
    display: inline-block;
    margin-right: 1ch;
}
.following-cnt{
    background-color: rgb(122, 81, 209);
    width: 9ch;
    height: 5ch;
    display: inline-block;
    margin-right: 1ch;
}


.user-comment {
    background-color: rgb(122, 81, 209);
    width: 28vh;
    height: 8.5vh;
    text-align: center;
}


.mypage-bar {

    width: 375px;
    height: 5ch;
    background-color: bisque;
    text-align: center;
}
.feed-tag {
    background-color: rgb(224, 224, 224);
    width: auto;
    height: 5ch;
    display: inline-block;
    margin-right: 1ch;
}
.b-tag {
    background-color: rgb(224, 224, 224);
    width: auto;
    height: 5ch;
    display: inline-block;
    margin-right: 1ch;
}
.c-tag {
    background-color: rgb(224, 224, 224);
    width: auto;
    height: 5ch;
    display: inline-block;
    margin-right: 1ch;
}


.bar-content-frame {
    width: 375px;
    height: 20vh;
    background-color: blanchedalmond;
    text-align: center;
}

.feed1 {
    border: 1px solid rgb(122, 81, 209);
    width: 120px;
    height: 120px;
    display: inline-block;

}
.feed2 {
    border: 1px solid rgb(122, 81, 209);
    width: 120px;
    height: 120px;
    display: inline-block;

}
.feed3 {
    border: 1px solid rgb(122, 81, 209);
    width: 120px;
    height: 120px;
    display: inline-block;
}
